h1{
	color: pink;
	border-color: purple;
	border-width: 5px;
	border-style: solid;
}

li{
	color: yellow;
	border: 2px dashed purple;
}
h4{
	color: purple;
	background-color: orange;
}

body{

	/*background-color: rgba(0,200,100,.8); */

	background: url(https://s-media-cache-ak0.pinimg.com/originals/fb/72/be/fb72be38837edbc458db2e281aaecd64.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}